{{!-- 8.7.0 --}}
<form 
    action="/contest/vacation-photo/{year}/{month}" 
    class="form-horizontal"
    role ="form"
    method = "POST">
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text"id = "fieldName" name = "name" class="form-control">
        </div>
    </div>
    <div class="from group">
        <label for="fieldEmail" required class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" required id = "fieldEmail" name = "email" class="form-control">
        </div>
    </div> 
    <div class="form-group">
        <label for="fieldPhoto" class="col-sm-2 control-label">Vaction photo</label>
        <div class="col-sm-4">
            <input type="file" required accept = "image/*" id = "fieldPhoto" name = "photo" class="form-control">
        </div>
    </div>   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type = "submit" class = "btn btn-primary" >Submit</button>
        </div>
    </div>
</form>